@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: 100vh;
  background: url('./src/background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Orbitron, Courier New', Courier, monospace;
  color: rgb(78, 36, 36);
  font-size: 30px;
}

.wrapper {
  background-color: rgba(255, 255, 255, .8);
  height: 100vh;
  display: grid;
  grid-template-rows: 4fr 12fr 1fr;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 10px;
}

img {
  border-radius: 50%;
}
